## Let's Get Started
First import packages and read in data we'll need for the rest of the assignment

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('filtered_tweet_data.csv', usecols = [1, 2, 3, 4, 5, 6])
user_info = pd.read_csv('final_user_data.csv')

## Don't run this section
This was used to make some data frames that are now created and easily accessible. It takes a while to run

In [5]:
unique_users = list(unique_users)

In [7]:
file = open('user_ids.txt', 'w')
file.writelines(["%s\n" % user for user in unique_users])

In [23]:
hashtag_list = df['text'].str.extractall('(#[^\s!?:\';,]+)')[0].tolist()
hashtag_lower = [x.lower() for x in hashtag_list]

In [8]:
hashtag_count = {}
for hashtag in list(set(hashtag_list)):
    hashtag_count[hashtag] = hashtag_list.count(hashtag)

53417

In [36]:
unique_list = list(set(hashtag_lower))
len(unique_list)

41348

In [37]:
hashtag_count = {}
for hashtag in unique_list:
    hashtag_count[hashtag] = hashtag_lower.count(hashtag)

In [38]:
len(hashtag_count)

41348

In [39]:
hashtag_df = pd.DataFrame.from_dict(hashtag_count, orient='index')

In [42]:
hashtag_df.to_csv('common_hashtags.csv')

In [49]:
ordered = hashtag_df.sort_values(by = 0,ascending=False)
ordered.to_csv('common_hashtags.csv')

## Can start running again

In [52]:
com_hash = pd.read_csv('common_hashtags.csv')
com_hash

                 Unnamed: 0       0
0                    #sandy  271401
1           #hurricanesandy   27418
2                   #sandy.   18372
3                #hurricane   13007
4                      #nyc   11178
5             #frankenstorm    6885
6                       #nj    3453
7                     #tcot    3163
8                 #sandyaid    2374
9                       #p2    2123
10                      #ny    2113
11               #sandypets    1999
12               #sandyhelp    1971
13                   #obama    1917
14                    #fema    1846
15                 #njsandy    1757
16                #benghazi    1634
17                    #news    1389
18                  #romney    1312
19                      #fb    1255
20                 #sandynj    1250
21                #sandyâ€�    1183
22         #hurricanesandy.    1180
23                 #sandydc    1172
24                 #mdsandy    1164
25                 #climate    1158
26              #superstorm    1114
27                 #hoboken    1069
28                 #ctsandy    1028
29           #climatechange    1019
...                     ...     ...
41318             #sandvine       1
41319                 #gwcc       1
41320        #patricksfault       1
41321              #upgrade       1
41322             #biatches       1
41323                 #thug       1
41324        #fuckoffpeople       1
41325              #ace2012       1
41326    #fuckyoumittromney       1
41327             #anxiety.       1
41328      #powerflickering       1
41329        #thenewnewdeal       1
41330       #favoritesinger       1
41331             #tebowing       1
41332                #scrum       1
41333  #getthefuckouttahere       1
41334         #theopposites       1
41335          #reesespuffs       1
41336           #annoyingaf       1
41337   #loverespectsupport       1
41338            #sooscary.       1
41339           #votebymail       1
41340              #nobitch       1
41341             #iwantesu       1
41342           #storify-ed       1
41343              #barback       1
41344                #artsy       1
41345         #morrisplains       1
41346          #needtodrink       1
41347             #westhelp       1

[41348 rows x 2 columns]

In [49]:
def filtered_frame(hashtag_list):
    
    # First we make a search query based on the input hashtag list
    first = True
    query = ''
    for item in hashtag_list:
        if first:
            first = False
            query += item
        else:
            query += ('|' + item)
    
    # Next we find all entries that match that query
    tag_index = df['text'].str.lower().str.contains(query)
    tag_df = df[test_index].copy().reset_index()
    # Here we're finding all the mentions in this user's tweet
    tag_df['mentions'] = tag_df['text'].apply(lambda x: re.findall('(@[A-Za-z0-9_]+)', x))
    tag_df = pd.merge(tag_df, user_info[['id', 'screen_name']], how='left', left_on='user_id', right_on='id')
    # Some users have protected info, so we can't access it
    # We'll drop these entries because they won't be helpful in making an edge
    tag_df = tag_df.dropna()
    
    mentions_list = tag_df['mentions'].tolist()
    user_list = tag_df['screen_name'].tolist()

    from_user, to_user = [], []

    # Now we'll take the new dataframe and make a 1 to 1 matching of users and mentions
    for i in range(len(user_list)):
        mentions = mentions_list[i]
        for mention in mentions:
            to_user.append(mention.strip('@'))
            from_user.append(user_list[i])
    edge_df = pd.DataFrame({'from_user':from_user, 'to_user':to_user})
    
    return tag_df, edge_df

In [50]:
nyc_df, nyc_edge = filtered_frame(['#nyc'])

In [51]:
nyc_df.head()

,index,tweet_id,created_at,user_id,lat_final,lng_final,text,mentions,id,screen_name
0,151,263078854023868417,2012-10-29 20:44:21-04,6332292,38.896076,-77.072225,"Seems like UES, UWS and most of Brooklyn still...",[],6332292.0,ethanklapper
1,152,263078913251627008,2012-10-29 20:44:35-04,25376735,40.726290,-73.991926,RT @wunderground: The Battery tide gauge shows...,[@wunderground],25376735.0,rickreichmuth
2,242,264431657212317698,2012-11-02 14:19:54-04,344720440,42.283740,-73.803468,When Hurricane Katrina happened I heard ppl sa...,[],344720440.0,GregoryGarvinNY
3,258,265546686145916928,2012-11-05 15:10:38-05,66168463,40.711417,-74.064760,RT @alliemahler: In #NYC? Our @BeSocialChange ...,"[@alliemahler, @BeSocialChange]",66168463.0,WilliamHC3
4,276,263297806809329665,2012-10-30 11:14:23-04,17125133,38.904148,-77.017094,"@AP roundup: #Sandy leaves 18 deaths, damp and...",[@AP],17125133.0,dbe928

In [53]:
nyc_edge.to_csv('nyc_edge_list.csv')